@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

$btn-bg: #0a7cff;
$secondary: #595959;
$text: white;
$input-bg: #f5f5f5;
$items-bg: #fafafa;
$black: #000;

// family
$fontStack: 'Open Sans', sans-serif;

// list of font-weight
$font-weights: (
   'regular': 400,
   'medium': 500,
   'semiBold': 600,
   'bold': 700
);
